@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
--park: #C0E8E8;
--land: #ffffff;
--main-road: #007C7C;
--water: #E0EFEF;
 }

html, body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header, footer, #found-message-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;    
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 9999999;
    width: 60ch;
    left: 50%;
    transform: translate(-50%);
    background: rgba(255, 255, 255, 1);
    border-radius: 4rem;
    padding: 2rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    max-width: 98%;
}

header {
    top: 0px;
    margin-top: 1rem;
    
}

footer {
    bottom: -100vh;
    margin-bottom: 1rem;
    z-index: 999999999;
}

#search>*+button,
#message>*+button {
    margin-left: 1rem;
}


label {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: .5rem;
    margin-left: 0;
    font-size: 1.25rem;
    transition: all 0.2s ease;
    pointer-events: none;
}

input:focus+label,
input:valid+label,
.textarea:focus+label,
.textarea:not(:empty)+label {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -.5rem;
    font-size: .8rem;
}

input,
.textarea {
    font-family: inherit;
    font-size: 1.25rem;
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--main-road);
    padding-top: .5rem;
    display: block;
    resize: none;
    min-height: 2rem;
    appearance: none;
    flex: 1;
    width: 0;
    min-width: 0;
}


#search,
#message {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
}

#outline, #overlay {
    position: fixed;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    z-index: 99999999;
    opacity: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#outline > img {
    max-width: 75%;
    transition: 0.3s all ease;
}

#overlay {
    z-index: 9999;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#overlay p {
    background: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 1.25rem;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.25);
    z-index: 99999999;
    transition: all .3s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading > img {
    width:  8rem;
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

button:disabled {
    background: var(--water);
}

.icon-button, .icon-text-button {
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    border: none;
    background: var(--main-road);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    flex-basis: 2.5rem;
}

.icon-text-button {
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
    max-width: unset;
    min-width: unset;
    border-radius: 2rem;
}

.icon-text-button > svg {
    margin-left: .5rem;
}

.icon-button .icon,
.icon-text-button .icon {
    fill: var(--land);
}

.icon-button svg,
.icon-text-button svg {
    width: 1.5rem;
    height: 1.5rem;
}

button:active svg {
    -webkit-filter: invert(1);
    filter: invert(1);
    transition: ease 0.3s;
    outline: none;
}

#add-bin {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 2rem;
}

#add-litter {
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 2rem;
}




button {
    display: block;
    height: 4rem;
    font-family: inherit;
    background-color: var(--main-road);
    color: var(--land);
}


#map {
    height: 100vh;
    width: 100%;
}

#found-message-container {
    opacity: 0;
    pointer-events: none;
    top: 50%;
    left: 50%;
    max-width: 50ch;
    transform: translate(-50%, -50%);
}

#found-message-container>div {
    padding: .5rem;
}

#found-message-image {
    width: 100%;
    border-radius: 8px;
}

#message-or-photo {
    right: -100vw;
    position: fixed;
    bottom:  0;
    margin-bottom: 1rem; 
    margin-right:1rem;
    background: none;
    transition: .3s all ease;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}



li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#camera-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    flex-flow: column;
    z-index: 999999999;
    display: none;
    pointer-events: none;
    transition: 1s all ease;
}

video {
    min-width: 100%;
    min-height: 85%;
    object-fit: cover;
}

#camera-controls {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

menu {
    padding: 0px;
    margin: 0px;
    height: 15%;
    background: black;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 99999;
}

menu > * + * {
    margin-top: 1rem;
}

.camera-button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    transition: all .3s ease;
}

.camera-button:active {
    filter: invert(.5);
    transform: scale(.9);
}

.camera-button > img {
    width: 100%;
}


#camera-container dl {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    margin: none;
    padding: none;
    color: #ffffff;
}

dl > * {
    text-align: left;
    margin: .1rem;
    padding: 0;
    display: inline;
}

.spin {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}